header {
    background-color: black;
    color: lightcoral ;
    text-align: center;
}

main {
    background-color: lightgray;
    padding: 1em;
}

body {
   margin: 0;
   background-repeat: repeat;
   background-image: url(record.png); 
}